<p>A new post can be found <a href="<%= post_page_url(id: @post_id, locale: @locale) %>" target="_blank">here</a>, or you can read it below. Enjoy the read, and thanks for subscribing!</p>

<h1 class="post-title">
  <%= post_title(@post) %>
</h1>

<div class="post-content">
  <%= post_erb_content(@post).html_safe %>
</div>

<footer>
  <p>If you wish, you can unsubscribe by clicking <a href="<%= posts_unsubscribe_url(token: @unsubscribe_token, locale: @locale) %>">here</a></p>
</footer>
