<p>
Please confirm your email by clicking <a href="<%= posts_subscribe_confirm_url(token: @confirmation_token, locale: @locale) %>" target="_blank">here</a> to be added to Luke's Blog email list.
</p>
<p>
If you didn't subscribe to the list, you can ignore this email.
</p>
