<div id="about-page--container">

<h1 class="text-4xl font-semibold text-center">About</h1>

<p class="mt-8">
I'm Luke, a full-stack web developer that likes doing systems work as well.
</p>

<h2 class="text-2xl font-semibold mt-6 mb-2">Socials</h1>

<p class="about-page--socials">
  <a class="hover-link" href="https://github.com/luke-gru">Github</a>
</p>

<h2 class="text-2xl font-semibold mt-6 mb-2">Contact</h2>

<p class="about-page--contact">
<a href="mailto:scofan@proton.me">scofan@proton.me</a>
</p>

</div>
