<section id="posts-search-menu" class="flex" style="justify-content: center;">
  <form action="/">
    <input type="text" name="search" placeholder="Search" value="<%= params[:search] %>" />
    <input type="submit" class="btn-primary" />
    <% if @tags %>
      <%# NOTE: right now, only 1 tag can be shown here %>
      <% @tags.each do |tag| %>
        <a href="<%= root_path %>" class="menu-tag btn-primary"><%= tag.tag %></a>
      <% end %>
    <% end %>
  </form>
</section>

<h1 class="text-4xl font-bold">Posts</h1>

<% if @posts.size == 0 %>
  <p id="posts-none-found">No posts found</p>
<% else %>
  <% @posts.each do |post| %>
    <%= render :partial => 'post', locals: { post: post } %>
  <% end %>
<% end %>
