<nav class="nav">
  <a href="<%= posts_page_path %>" class="btn-primary">
    <i class="fa-solid fa-arrow-left"></i>
    Posts
  </a>
</nav>

<% content_for(:title, post_title(@post)) %>
<% content_for(:meta_description, post_meta_description(@post)) %>

<%= render :partial => 'post', locals: { post: @post } %>
