<nav class="nav">
  <a href="<%= posts_page_path %>" class="btn-primary">
    <i class="fa-solid fa-arrow-left"></i>
    Posts
  </a>

</nav>
<%= render :partial => 'post', locals: { post: @post } %>
