.blog-content-container {
  max-width: 1200px;
  font-family: "Lato", sans-serif;
}

.post-content p {
  font-size: 1.2em;
  margin-top: 1rem;
  line-height: 1.6;
}

.post-content {
  h2, h3 {
    margin: 1rem 0;
    font-weight: bold;
    text-align: center;
  }
  h2 {
    font-size: xx-large;
  }
  h3 {
    font-size: x-large;
  }
}

.post-content p.post-filename {
  margin-bottom: -1rem;
  span { 
    background: rgba(165, 214, 255, 0.6);
    padding: 2px 4px;
  }
}

.post-footnote-ref {
  &:hover {
    color: rgb(165, 214, 255);
  }
}

.post-content .highlight {
  font-family: ui-monospace;
}

.post-content div.highlight {
  margin: 1rem 0;
  padding: 10px;
}

.post-content .highlight-inline {
  padding: 3px;
}

.post-tags {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.post-meta {
  margin: 2rem 0;
}

.post-title {
  margin: 2rem 0;
  text-align: center;
}

.post-highlight {
  padding: 2px;
  background: #eee;
  font-family: "Lato regular";
  font-size: 1.1em;
}

#nav-lang {
  display: flex;
  justify-content: right;
}

#nav-lang-item-first {
  padding-right: 10px;
}

#nav-lang a {
  span {
    width: 2em;
    height: 1.5em;
  }

  &.active {
    opacity: 0.5;
  }

}

#email-subscribe-container {
  text-align: center;
}

.flashes {
  margin-bottom: 1.5em;
}

.flash_notice {
  background-color: #dce9dd;
  background-image: linear-gradient(180deg, #dce9dd, #ccdfcd);
  border-bottom: 1px solid #adcbaf;
  color: #416347;
  padding: 0.75em;
  text-align: center;
}

.flash_error {
  background-color: #f5e4e4;
  background-image: linear-gradient(180deg, #f5e4e4, #f1dcdc);
  border-bottom: 1px solid #e0c2c0;
  color: #b33c33;
  padding: 0.75em;
  text-align: center;
}

#unsub-form-container {
  display: flex;
  justify-content: center;

  textarea#reason {
    margin-top: 0.5em;
    margin-bottom: 1em;
    min-height: 150px;
  }
}
