:root {
  --navbar-bg-color: #161b22;
  --navbar-text-color: hsl(0, 0%, 85%);
  --navbar-text-color-focus: white;
  --navbar-bg-contrast: #ffa657;
  --navbar-height: 64px;
}

.blog-content-container {
  max-width: 1200px;
  font-family: "Lato", sans-serif;
}

.post-content p {
  font-size: 1.2em;
  margin-top: 1rem;
  line-height: 1.6;
}

.post-content {
  h2, h3 {
    margin: 1rem 0;
    font-weight: bold;
    text-align: center;
  }
  h2 {
    font-size: xx-large;
  }
  h3 {
    font-size: x-large;
  }
}

.post-content p.post-filename {
  margin-bottom: -1rem;
  span { 
    background: rgba(165, 214, 255, 0.6);
    padding: 2px 4px;
  }
}

.post-footnote-ref {
  &:hover {
    color: rgb(165, 214, 255);
  }
}

.post-content .highlight {
  font-family: ui-monospace;
  min-width: fit-content;
}

.post-content div.highlight {
  margin: 1rem 0;
  padding: 10px;
}

.post-content .highlight-inline {
  padding: 3px;
}

.post-tags {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.post-meta {
  margin: 2rem 0;
}

.post-title {
  margin: 2rem 0;
  text-align: center;
}

.post-highlight {
  padding: 2px;
  background: #eee;
  font-family: "Lato regular";
  font-size: 1.1em;
}

main {
  padding-top: 64px;
}

#navbar {
  position: static;
  height: var(--navbar-height);
  background-color: var(--navbar-bg-color);
  left: 0;
  right: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
.navbar-item {
  margin: 0.4em;
  width: 100%;
}

// search button
.navbar-item-search {
  .btn-primary {
    margin: 0 0;
  }
}

#posts-search-menu {
  position: absolute;
  margin-left: -210px;
  &.hidden {
    visibility: hidden;
  }
  input[type=text] {
    border-radius: 9999px;
  }
}

.home-link,
.navbar-link {
  color: var(--navbar-text-color);
  text-decoration: none;
  display: flex;
  font-weight: 400;
  align-items: center;
}

.home-link:is(:focus, :hover) {
  color: var(--navbar-text-color-focus);
}

.home-link {
  margin-left: 1em;
}

.navbar-link {
  justify-content: center;
  width: 100%;
  padding: 0.4em 0.8em;
  border-radius: 5px;
}

.navbar-link:is(:focus, :hover) {
  color: var(--navbar-text-color-focus);
}
.navbar-logo {
  background-color: var(--navbar-text-color-focus);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 0.5em;
}
#navbar-toggle {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.icon-bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 2px;
  background-color: var(--navbar-text-color);
}
#navbar-toggle:is(:focus, :hover) .icon-bar {
  background-color: var(--navbar-text-color-focus);
}
#navbar-toggle[aria-expanded="true"] .icon-bar:is(:first-child, :last-child) {
  position: absolute;
  margin: 0;
  width: 30px;
}
#navbar-toggle[aria-expanded="true"] .icon-bar:first-child {
  transform: rotate(45deg);
}
#navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
  opacity: 0;
}
#navbar-toggle[aria-expanded="true"] .icon-bar:last-child {
  transform: rotate(-45deg);
}

#navbar-toggle[aria-expanded="true"] + #navbar-menu {
  .navbar-item-search {
    text-align: left;
    display: flex;
  }
  #posts-search-menu {
    display: flex;
    align-items: flex-start;
    width: 95%;
    margin: 0 0;
    position: relative;
    form {
      width: inherit;
      input[type=text] {
        min-width: 100%;
      }
    }
  }
}

#navbar-menu {
  position: fixed;
  top: var(--navbar-height);
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  left: 0;
  right: 0;
}
#navbar-toggle[aria-expanded="true"] + #navbar-menu {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  visibility: visible;
}
.navbar-links {
  list-style: none;
  position: absolute;
  background-color: var(--navbar-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  right: 0;
  margin: 1.4rem;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#navbar-toggle[aria-expanded="true"] + #navbar-menu .navbar-links {
  padding: 1em;
}
@media screen and (min-width: 700px) {
  #navbar-toggle,
  #navbar-toggle[aria-expanded="true"] {
    display: none;
  }

  #navbar-menu,
  #navbar-toggle[aria-expanded="true"] #navbar-menu {
    visibility: visible;
    opacity: 1;
    position: static;
    display: block;
    height: 100%;
  }

  .navbar-links,
  #navbar-toggle[aria-expanded="true"] #navbar-menu .navbar-links {
    margin: 0;
    padding: 0;
    box-shadow: none;
    position: static;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
}

footer {
  background: var(--navbar-bg-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  #email-subscribe-container {
    height: 100%;
    color: var(--navbar-text-color);
  }
  #email-subscribe-text {
    padding-bottom: 10px;
  }
  input[type=email] {
    border-radius: 9999px;
  }
}

.navbar-lang-link {
  &.active {
    opacity: 0.7;
  }
}

#email-subscribe-container {
  text-align: center;
}

.flashes {
  margin-bottom: 1.5em;
}

.flash_notice {
  background-color: #dce9dd;
  background-image: linear-gradient(180deg, #dce9dd, #ccdfcd);
  border-bottom: 1px solid #adcbaf;
  color: #416347;
  padding: 0.75em;
  text-align: center;
}

.flash_error {
  background-color: #f5e4e4;
  background-image: linear-gradient(180deg, #f5e4e4, #f1dcdc);
  border-bottom: 1px solid #e0c2c0;
  color: #b33c33;
  padding: 0.75em;
  text-align: center;
}

#unsub-form-container {
  display: flex;
  justify-content: center;

  textarea#reason {
    margin-top: 0.5em;
    margin-bottom: 1em;
    min-height: 150px;
  }
}
