/*= require_self */
/*= require application.tailwind.css */
/*= require rouge_github.css */

.post-content .codehilite {
  margin-left: 20px;
}

.post-content .highlight {
  margin: 1rem 0;
}

.post-tags {
  margin: 2rem 0;
}

