/*= require_self */
/*= require application.tailwind.css */
/*= require rouge_github.css */

.post-content .codehilite {
  margin-left: 20px;
}

.post-content .highlight {
  margin: 1rem 0;
}

.post-tags {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.post-meta {
  margin: 2rem 0;
}

.post-title {
  margin: 2rem 0;
  text-align: center;
}

#nav-lang {
  display: flex;
  justify-content: right;
}

#nav-lang-item-first {
  padding-right: 10px;
}

#nav-lang a {
  span {
    width: 2em;
    height: 1.5em;
  }

  &.active {
    opacity: 0.5;
  }

}

#email-subscribe-container {
  text-align: center;
}
